    body {
        background: url('./images/galaxy.gif');
        text-align: center;
    }
    
    .input-container {
        margin-top: 4rem;
    }
    
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 3.5rem;
    }
    
    input {
        border-radius: 3px;
        padding: 10px;
        width: 20%;
    }
    
    select {
        text-transform: capitalize;
        padding: 10px;
        width: 15%;
    }
    
    button {
        border-radius: 3px;
        background-color: gray;
        padding: 10px;
        color: #fff;
        font-size: 1rem;
    }
    
    .container {
        display: flex;
        flex-wrap: wrap;
        margin-right: auto;
        margin-top: 3rem;
        padding: 1rem;
        width: 70%;
        height: auto;
        background-color: rgb(128, 128, 128, 0.3);
        justify-content: space-evenly;
        align-items: center;
        margin-left: 12%;
    }
    /* .container-border{
    display: flex;
    flex-direction: row;
    text-align: center;
} */
    
    .img-container {
        width: 300px;
        height: 300px;
        /* margin-right: 5rem; */
    }
    
    .outPut {
        width: 50%;
        height: 200px;
        background-color: rgb(128, 128, 128, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 10px;
        color: #fff;
    }
    
    .out-put {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(128, 128, 128, 0.4);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -5px;
        padding: 10px;
    }